<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3>Titre : {{ticket.title}}</h3>
  <i class="fas fa-calendar-alt"></i> {{ticket.date | date: 'shortTime'}} &nbsp;&nbsp;
  <span *ngIf="ticket.student">
    <i class="far fa-user"></i> {{ticket.student.nom}} {{ticket.student.prenom}} &nbsp;&nbsp;
  </span>
  <!--<i class="fas fa-graduation-cap"></i> {{ticket.major}}-->
  <i *ngIf="ticket.major === 'Informatique'" class="fas fa-laptop-code"> {{ticket.major}}</i>
  <i *ngIf="ticket.major === 'Biologie'" class="fas fa-microscope"> {{ticket.major}}</i>
  <i *ngIf="ticket.major === 'Physique'" class="fas fa-atom"> {{ticket.major}}</i>
  <i *ngIf="ticket.major === 'Mathématiques'" class="fas fa-calculator"> {{ticket.major}}</i>
  <i *ngIf="ticket.major === 'Économie'" class="fas fa-chart-bar"> {{ticket.major}}</i>
  <br>

</div>

<button (click)="archiveTicket(ticket)">Archive</button>