<h3>Create a new ticket</h3>
<form class="ticket-form" [formGroup]="ticketForm">
  <label for="title">
    Title <br>
    <input class="input-custom" type="text" id="title" [formControlName]="'title'">
  </label>
  <br>
  <label for="description">
    Description <br>
    <input class="input-custom" type="text" id="description" [formControlName]="'description'">
  </label>
  <br>
  <label for="major">
    Major <br>
    <select formControlName="major" id="major">
      <option value="" disabled selected>Choose your Major</option>
      <option *ngFor="let major of majorList" [value]="major">{{ major }}</option>
    </select>
  </label>
  <br>
  <label for="stud">
    Student <br>
    <select class="form-select" required id="stud" [formControlName]="'studentID'">
      <option value="" disabled selected>Choose the Student</option>
      <option *ngFor="let studi of Student_List" [value]="studi.id">
        {{studi.id}} - {{studi.nom}} {{studi.prenom}}
      </option>
    </select>
  </label>
  <br>
  <button type="submit" class="btn-custom" (click)="addTicket()">Create</button>
</form>

<!-- Uncomment below to see your form structure and how it changes-->
<!--<br><br>{{ticketForm.getRawValue() | json}}-->